@model AvantPoc.Models.PolicyDetailsInfo

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View/Edit Policy</title>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script>
  $( function() {

      var dialog, form;


    //  var name = $("#name");
    //  var email = $("#email");
    //  var password = $("#password");
    //  var allFields = $([]).add(name).add(email).add(password);
    //  var tips = $( ".validateTips" );

    //function updateTips( t ) {
    //  tips
    //    .text( t )
    //    .addClass( "ui-state-highlight" );
    //  setTimeout(function() {
    //    tips.removeClass( "ui-state-highlight", 1500 );
    //  }, 500 );
    //}



    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      //buttons: {
      //  "Create an account": addUser,
      //  Cancel: function() {
      //    dialog.dialog( "close" );
      //  }
      //},
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });

    //form = dialog.find( "form" ).on( "submit", function( event ) {
    //  event.preventDefault();
    //  addUser();
    //});

    $( "#allianz-modal" ).button().on( "click", function() {
      dialog.dialog( "open" );
    });
  } );
    </script>
</head>
<body>

    <div id="dialog-form" title="View/Edit Policy">
        @*<p class="validateTips">All form fields are required.</p>*@

        <p>Allianz Modal Host...</p>
    </div>

    @using (Html.BeginForm())
    {

        <div>
            <fieldset>
                <legend>
                    <span>Policy Details</span>
                </legend>
                <div id="2">

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="panel panel-primary avt-policy-border">
                                <div class="panel-body">
                                    <div class="container-fluid ">
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.PolicyReferenceNumber, "Policy Reference")
                                                @Html.TextBoxFor(m => m.PolicyReferenceNumber, new { @class = "form-control", @readonly = "readonly" })

                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.StartDate, "Start Date")
                                                @Html.TextBoxFor(m => m.StartDate, new { @class = "date-picker" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.EndDate, "End Date")
                                                @Html.TextBoxFor(m => m.EndDate, new { @class = "date-picker" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.LabelFor(m => m.AlliancePolicyNumber, "Alliance Policy Number")
                                                @Html.TextBoxFor(m => m.AlliancePolicyNumber, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.Status, "Status")
                                                @Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.PremiumCost, "Premium Cost")
                                                @Html.TextBoxFor(m => m.PremiumCost, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.State, "State")
                                                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.PolicyCode, "Policy Code")
                                                @Html.TextBoxFor(m => m.PolicyCode, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <br />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-sm btn-default">Save Policy Details</button>
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-sm btn-default">View Policy Details</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <br />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.CreatedBy, "Created By")
                                                @Html.TextBoxFor(m => m.CreatedBy, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.ApprovedBy, "Approved By")
                                                @Html.TextBoxFor(m => m.ApprovedBy, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- main div ends here-->
                        <div class="col-md-6 form-group">
                            <span>Work Pending</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="panel panel-primary avt-addlInfo-border">
                            <div class="panel-body">
                                <div class="container">
                                    <ul class="nav nav-tabs">
                                        <li class="nav active"><a href="#A" data-toggle="tab">Payment Schedule</a></li>
                                        <li class="nav"><a href="#B" data-toggle="tab">Notes</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="A">
                                            Content inside tab A
                                            @Html.TextAreaFor(m => m.PaymentScheduleInfo, new { @class = "form-control", rows = "8", cols = "80" })
                                        </div>
                                        <div class="tab-pane fade" id="B">

                                            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", rows = "8", cols = "80" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="panel panel-primary avt-policy-border">
                <div class="panel-body">
                    <div class="col-sm-3">
                        @*<button type="button" class="btn btn-sm btn-default" data-pdsa-action="Edit" data-target="#mymodal" data-toggle="modal">Edit Policy Details</button>*@
                        <button id="allianz-modal">Edit Policy Details</button>
                    </div>
                    <div class="col-sm-3">
                        <input class="submit btn btn-sm btn-default " type="submit" name="copy" id="copy" formaction="/Home/Copy" formmethod="post" value="Copy Quote" />
                    </div>
                    <div class="col-sm-3">
                        <input class="submit btn btn-sm btn-default " type="submit" name="laps" id="laps" formaction="/Home/Laps" formmethod="post" value="Laps Quote" />
                    </div>
                    <div class="col-sm-3">
                        <input class="submit btn btn-sm btn-default " type="submit" name="issue" id="issue" formaction="/Home/Issue" formmethod="post" value="Issue Quote" />
                    </div>
                </div>
            </div>
        </div>
    }


    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>

